<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1 align="left" style="color: blue; align-items: left">BUAT GRAFIK</h1>
    <form action="http://localhost:5000/hasil/" method="post">
        <p align="left">
            <b>Masukkan X:</b> 
        </p>
        <p>
            <input name="nilaix" type="text" placeholder="ketik sumbu X..."/>
            <i>ex: 5,4,3,2,1</i>
        </p>
        <p align='left'>
            <b>Masukkan Y:</b> 
        </p>
        <p>
            <input name="nilaiy" type="text" placeholder="ketik sumbu Y..."/>
            <i>ex: 5,4,3,2,1</i>
        </p>
        <p align="left">
            <input type="submit" value="GRAFIK"/>
        </p>
    </form>
</body>
</body>
</html>