<!DOCTYPE html>
<html lang="en">
<head>
    <title>Masukkan salah</title>
</head>
<body>
    <h1>Masukkan Anda Salah!!!</h1>
    <h2>Silahkan coba lagi sesuai dengan contoh!!</h2>
    <p>
    <ul style="list-style-type:circle;">
        <li>Masukkan hanya berupa angka</li>
        <li>Angka satu dengan yang lainnya hanya dipisahkan dengan koma</li>
        <li>Jumlah titik masing-masing sumbu harus sama</li>
    </ul>
    </p>
    <p align="left">
        <button type="button"><a href="http://localhost:5000/">KEMBALI</a></button>
    </p>
</body>
</html>